<launch>
  <arg name="plank_of_wood_id" default="2"/>
  <arg name="output" default="log"/>
  <arg name="state_estimation" default="false"/>

  <!-- Setup vision -->
  <group ns="vision">
    <node pkg="agimus_vision" type="tracker_object"
        output="$(arg output)"
        name="tracker"
        >
        <param name="imageTopic"      value="/rgbd/rgb/high_res/image_rect" />
        <param name="cameraInfoTopic" value="/rgbd/rgb/high_res/camera_info" />
        <param name="debugDisplay"    value="false" />
        <param name="broadcastTopic"  value="true" />
        <param name="broadcastTf"     value="true" />
        <param name="broadcastTfPostfix" value="_tf" />
        <param name="objectType" value="apriltag" />
    </node>

    <!-- Table -->
    <node pkg="agimus_demos" type="group_of_tags.py" name="table_tags" args="
        --child-frame-format 'table/tag36_11_{:0>5d}'
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame table/base_link
        --no-description
        --size 0.060
        --tag 10
        --tag 11
        "
        output="$(arg output)"
        />

    <!-- Plank of wood 1 -->
    <node pkg="agimus_demos" type="group_of_tags.py" name="box_tags" args="
        --child-frame-format 'box/tag36_11_{:0>5d}'
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame box/base_link
        --no-description
        --size 0.060
        --tag $(arg plank_of_wood_id)0
        --tag $(arg plank_of_wood_id)1
        --tag $(arg plank_of_wood_id)2
        --tag $(arg plank_of_wood_id)3
        --visp-model-file $(find gerard_bauzil)/meshes/visp/plank_of_wood.cao
        --visp-config-file $(find agimus_vision)/config/visp/model-based-tracker.xml
        --tracker-type edgetracker
        "
        output="$(arg output)"
        />

    <node pkg="agimus_demos" type="group_of_tags.py" name="right_hand_tags" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame gripper_right_base_link
        --size 0.02
        --tag 104 -tq  0.05563 -0.05563 0.012  0.6532815353861338 0.270597922245415  0.2705979222454151   0.6532815353861338
        --tag 105 -tq  0.05563  0.05563 0.012  0.270597922245415  0.6532815353861338 0.6532815353861338   0.2705979222454151
        --tag 106 -tq -0.05563  0.05563 0.012 -0.2705979222454151 0.6532815353861338 0.6532815353861338  -0.27059792224541507
        --tag 107 -tq -0.05563 -0.05563 0.012 -0.6532815353861338 0.2705979222454151 0.27059792224541507 -0.6532815353861338
        "
        />
    <node pkg="agimus_demos" type="group_of_tags.py" name="left_hand_tags" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame gripper_left_base_link
        --size 0.02
        --tag 100 -tq  0.05563 -0.05563 0.012  0.6532815353861338 0.270597922245415  0.2705979222454151   0.6532815353861338
        --tag 101 -tq  0.05563  0.05563 0.012  0.270597922245415  0.6532815353861338 0.6532815353861338   0.2705979222454151
        --tag 102 -tq -0.05563  0.05563 0.012 -0.2705979222454151 0.6532815353861338 0.6532815353861338  -0.27059792224541507
        --tag 103 -tq -0.05563 -0.05563 0.012 -0.6532815353861338 0.2705979222454151 0.27059792224541507 -0.6532815353861338
        "
        />
  </group>

  <group ns="agimus/hpp" if="$(arg state_estimation)">
    <param name="default_state_id"  value="2" />
    <!--<param name="use_configuration_constraint"  value="false" />-->
    <node pkg="agimus_hpp" type="estimation.py" name="hpp_estimation"
      args="--continuous-estimation --joint-state /joint_states" output="screen" />
  </group>
</launch>
