<launch>
  <arg name="plank_of_wood_id" default="1"/>
  <!-- World setup -->
  <include file="$(find gerard_bauzil)/launch/plank_of_wood.launch">
    <arg name="prefix" value="box" />
    <arg name="id" value="$(arg plank_of_wood_id)" />
  </include>
  <include file="$(find gerard_bauzil)/launch/table_140_70_73.launch">
    <arg name="prefix" value="table" />
  </include>

  <!-- Simulate the vision -->
  <!--
  <group ns="vision_simulation">
    <node pkg="tf" type="static_transform_publisher"
        name="odom_to_world"
        args="0 0 0 0 0 0 1 world odom 100" />
  </group> -->

  <!-- Setup vision -->
  <group ns="vision">
    <param name="imageTopic"      value="/rgbd/rgb/high_res/image_rect" />
    <param name="cameraInfoTopic" value="/rgbd/rgb/high_res/camera_info" />
    <param name="parentNode"      value="talos/rgbd_rgb_optical_frame" />
    <param name="displayDebug"    value="false" />
    <param name="broadcastTopic"  value="true" />
    <param name="broadcastTf"     value="true" />
    <param name="broadcastTfPostfix" value="_tf" />

    <node pkg="agimus_vision" type="tracker_object"
        name="tag_tracker"
        />
    <!-- Table -->
    <node pkg="agimus_demos" type="visual_tag_initializer.py" name="tag36_11_00004_init"
        args="4 63.5 table/tag36_11_00004_joint"
        />
    <node pkg="agimus_demos" type="visual_tag_initializer.py" name="tag36_11_00005_init"
        args="5 63.5 table/tag36_11_00005_joint"
        />

    <!-- Plank of wood 1 -->
    <node pkg="agimus_demos" type="visual_tag_initializer.py" name="tag36_11_000$(arg plank_of_wood_id)0_init"
        args="$(arg plank_of_wood_id)0 60 box/tag36_11_000$(arg plank_of_wood_id)0_joint"
        />
    <node pkg="agimus_demos" type="visual_tag_initializer.py" name="tag36_11_000$(arg plank_of_wood_id)1_init"
        args="$(arg plank_of_wood_id)1 60 box/tag36_11_000$(arg plank_of_wood_id)1_joint"
        />
    <node pkg="agimus_demos" type="visual_tag_initializer.py" name="tag36_11_000$(arg plank_of_wood_id)2_init"
        args="$(arg plank_of_wood_id)2 60 box/tag36_11_000$(arg plank_of_wood_id)2_joint"
        />
    <node pkg="agimus_demos" type="visual_tag_initializer.py" name="tag36_11_000$(arg plank_of_wood_id)3_init"
        args="$(arg plank_of_wood_id)3 60 box/tag36_11_000$(arg plank_of_wood_id)3_joint"
        />
  </group>

  <group ns="agimus/hpp">
	<param name="default_state_id"  value="2" />
	<!--<param name="use_configuration_constraint"  value="false" />-->
    <node pkg="agimus_hpp" type="estimation.py" name="hpp_estimation"
        args="--continuous-estimation --joint-state /joint_states" output="screen" />
  </group>
</launch>
