<launch>
  <machine name="multimedia" address="talos-1m"
    env-loader="/home/pal/devel/config_roslaunch.sh"/>
  <arg name="plank_of_wood_id" default="2" />

  <!-- World setup -->
  <include file="$(find gerard_bauzil)/launch/plank_of_wood.launch">
    <arg name="prefix" value="box" />
    <arg name="id" value="$(arg plank_of_wood_id)" />
  </include>
  <include file="$(find gerard_bauzil)/launch/rolling_table.launch">
    <arg name="prefix" value="table" />
  </include>
  <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
    args="0 0 0 0 0 0 1 world odom"
    />

  <group ns="vision">
  </group>

  <!-- SoT parameters -->
  <arg name="script_file" doc="Full path to the script which initialize the supervisor"
    default="$(find agimus_demos)/talos/manipulate_boxes/supervisor.py" />

  <include file="$(find roscontrol_sot_talos)/launch/sot_talos_controller.launch" >
  </include>

  <!--This starts the HPP interface in namespace agimus/hpp-->
  <param name="/agimus/hpp/default_state_id"  value="2" />
  <include file="$(find agimus_hpp)/launch/hpp_interface.launch" >
    <arg name="machine" value="multimedia"/>
  </include>

  <!--This starts sot supervisor in namespace agimus/sot-->
  <include file="$(find agimus_sot)/launch/supervisor.launch" >
    <arg name="script_file" value="$(arg script_file)"/>
    <arg name="robot_prefix" value="talos/"/>
    <arg name="simulate_torque_feedback" value="false"/>
  </include>

  <include file="$(find agimus)/launch/path_execution.launch">
    <arg name="machine" value="multimedia"/>
    <arg name="gui" value="false"/>
  </include>
</launch>
