<launch>
  <arg name="output" default="log"/>
  <arg name="standalone" default="false"/>

  <!-- Setup vision -->
  <group ns="vision">
    <node pkg="agimus_vision" type="tracker_object"
        output="$(arg output)"
        name="tracker"
        >
        <param name="imageTopic"      value="/rgbd/rgb/high_res/image_rect" />
        <param name="cameraInfoTopic" value="/rgbd/rgb/high_res/camera_info" />
        <param name="debugDisplay"    value="false" />
        <param name="broadcastTopic"  value="true" />
        <param name="broadcastTf"     value="true" />
        <param name="broadcastTfPostfix" value="_tf" />
        <param name="objectType" value="apriltag" />
    </node>

    <!-- calibration board -->
    <node pkg="agimus_demos" type="group_of_tags.py" name="calibration_board" args="
        --child-frame-format 'tag36_11_{:0>5d}'
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame calibration_link
        --no-description
        --size 0.0595
        --tag 0 -tq 0.04119 -0.001  0.10441  0.5 -0.5 0.5 0.5
        --tag 1 -tq 0.04119 -0.001 -0.10441  0.5 -0.5 0.5 0.5
        --tag 2 -tq 0.04119  0.001 -0.10441 -0.5  0.5 0.5 0.5
        --tag 3 -tq 0.04119  0.001  0.10441 -0.5  0.5 0.5 0.5
        "
        output="$(arg output)"
        />

    <node pkg="agimus_demos" type="group_of_tags.py" name="tag100" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame tag100
        --size 0.02
        --tag 100 -tq  0 0 0 0 0 0 1" />
    <node pkg="agimus_demos" type="group_of_tags.py" name="tag101" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame tag101
        --size 0.02
        --tag 101 -tq  0 0 0 0 0 0 1" />
    <node pkg="agimus_demos" type="group_of_tags.py" name="tag102" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame tag102
        --size 0.02
        --tag 102 -tq  0 0 0 0 0 0 1" />
    <node pkg="agimus_demos" type="group_of_tags.py" name="tag103" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame tag103
        --size 0.02
        --tag 103 -tq  0 0 0 0 0 0 1" />

    <node pkg="agimus_demos" type="group_of_tags.py" name="tag104" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame tag104
        --size 0.02
        --tag 104 -tq  0 0 0 0 0 0 1" />
    <node pkg="agimus_demos" type="group_of_tags.py" name="tag105" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame tag105
        --size 0.02
        --tag 105 -tq  0 0 0 0 0 0 1" />
    <node pkg="agimus_demos" type="group_of_tags.py" name="tag106" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame tag106
        --size 0.02
        --tag 106 -tq  0 0 0 0 0 0 1" />
    <node pkg="agimus_demos" type="group_of_tags.py" name="tag107" args="
        --measurement-parent-frame rgbd_rgb_optical_frame
        --group-frame tag107
        --size 0.02
        --tag 107 -tq  0 0 0 0 0 0 1" />
  </group>
</launch>
