<launch>
  <arg name="plank_of_wood_id"/>
  <arg name="simulation"/>

  <include file="$(find gerard_bauzil)/launch/plank_of_wood.launch">
    <arg name="prefix" value="box" />
    <arg name="id" value="$(arg plank_of_wood_id)" />
  </include>
  <include file="$(find gerard_bauzil)/launch/rolling_table.launch">
    <arg name="prefix" value="table" />
  </include>
  <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
    args="0 0 0 0 0 0 1 world odom"
    />

  <!-- Simulation -->
  <group if="$(arg simulation)" ns="simulation">
      <include file="$(find gerard_bauzil)/launch/plank_of_wood.launch">
          <arg name="prefix" value="sim_box" />
          <arg name="id" value="$(arg plank_of_wood_id)" />
      </include>
      <include file="$(find gerard_bauzil)/launch/plank_of_wood.launch">
          <arg name="prefix" value="sim_box_rviz" />
          <arg name="id" value="$(arg plank_of_wood_id)" />
      </include>
      <node name="sim_box_rviz" pkg="tf2_ros" type="static_transform_publisher"
          args="0 0 0 0 0 0 1 sim_box/base_link sim_box_rviz/base_link"
          />

      <include file="$(find gerard_bauzil)/launch/rolling_table.launch">
          <arg name="prefix" value="sim_table" />
      </include>
      <include file="$(find gerard_bauzil)/launch/rolling_table.launch">
          <arg name="prefix" value="sim_table_rviz" />
      </include>

      <node name="simulation" pkg="agimus_sot" type="simulation.py" args="_tf_prefix:=sim_" />
      <node name="simulation_gui" pkg="rqt_gui" type="rqt_gui"
        args="--standalone rqt_agimus.simulation.Simulation --args
        --tf-editor sim_box/base_link sim_box_rviz/base_link
        --tf-editor sim_table/base_link sim_table_rviz/base_link"
        />
  </group>

</launch>
