<launch>
  <!-- Which robot are we controlling ? -->
  <arg name="robot" default="tiago" />
  <arg name="libsot" default="libsot-tiago-steel-controller.so" />
  <arg name="sot_launch_prefix" default="" />
  <!-- Before uncommenting any of the above lines,
       remove the space between the hyphens before 'args' -->
  <!--<arg name="sot_launch_prefix" default="xterm -e gdb - -args" />-->
  <!--<arg name="sot_launch_prefix" default="xterm -e gdb -ex run - -args" />-->

  <include file="$(find sot_tiago_bringup)/launch/geometric_simu.launch" >
    <arg name="robot" value="$(arg robot)" />
    <arg name="libsot" value="$(arg libsot)" />
    <arg name="sot_launch_prefix" value="$(arg sot_launch_prefix)" />
    <arg name="output" value="screen" />
  </include>

  <group ns="hpp" >
    <node name="hpp_interface" pkg="hpp_ros_interface" type="hpp_node.py"
      args="hpp-manipulation-server" respawn="true"
      output="screen" />
  </group>

  <group ns="sot_hpp" >
    <node name="sot_hpp_interface" pkg="hpp_ros_interface"
      type="smach_node.py"
      output="screen" />
  </group>

</launch>

