<launch>
  <arg name="public_sim"   default="true"/>

  <arg name="laser_model"    default="sick-571"/>
  <arg name="planner"        default="base"/>
  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner"  default="$(eval 'teb' if arg('public_sim') else 'pal')"/>
  <arg name="localization"   default="amcl"/>
  <arg name="map"            doc="path to directory where generated map is" default="$(env HOME)/.pal/tiago_maps/configurations/small_office"/>

  <include file="$(find tiago_2dnav_gazebo)/launch/navigation.launch">
    <arg name="state"          value="localization"/>
    <arg name="planner"        value="$(arg planner)"/>
    <arg name="global_planner" value="$(arg global_planner)"/>
    <arg name="local_planner"  value="$(arg local_planner)"/>
    <arg name="localization"   value="$(arg localization)"/>
    <arg name="map"            value="$(arg map)"/>
    <arg name="public_sim"     value="$(arg public_sim)"/>
    <arg name="laser_model"    value="$(arg laser_model)"/>
    <arg name="config_base_path" default="$(find agimus_demos)/tiago"/>
  </include>

  <group unless="$(arg public_sim)">
    <include file="$(find pal_loc_measure)/launch/pal_loc_measure.launch">
      <arg name="training" value="False"/>
    </include>
  </group>

  <!-- pointcloud to laserscan-->
  <group if="$(arg public_sim)">
    <include file="$(find tiago_laser_sensors)/launch/rgbd_cloud_laser.launch">
      <arg name="cloud" value="/xtion/depth_registered/points"/>
    </include>
  </group>

</launch>
