<launch>
  <arg name="output" default="log"/>
  <arg name="standalone" default="false"/>

  <!-- World setup -->
  <include if="$(arg standalone)" file="$(find agimus_demos)/launch/tiago_deburring_world_setup.launch">
  </include>

  <!-- Setup vision -->
  <group ns="vision">
    <node pkg="agimus_vision" type="tracker_object"
        output="$(arg output)"
        name="tracker"
        >
        <param name="imageTopic"      value="/xtion/rgb/image_raw" />
        <param name="cameraInfoTopic" value="/xtion/rgb/camera_info" />
        <param name="debugDisplay"    value="false" />
        <param name="broadcastTopic"  value="true" />
        <param name="broadcastTf"     value="true" />
        <param name="broadcastTfPostfix" value="_tf" />
        <param name="objectType" value="apriltag" />
        <param name="cameraFrame" value="xtion_rgb_optical_frame" />
    </node>

    <!-- Part -->
    <node pkg="agimus_demos" type="group_of_tags.py" name="part_tags" args="
        --child-frame-format 'part/tag36_11_{:0>5d}'
        --measurement-parent-frame xtion_rgb_optical_frame
        --group-frame part/base_link
        --no-description
        --size 0.0845
        --tag 1
        --size 0.0845
        --tag 6
        --size 0.0845
        --tag 15
        --size 0.0415
        --tag 100
        --size 0.0415
        --tag 101
        "
        output="$(arg output)"
        />

    <!-- Driller -->
    <node pkg="agimus_demos" type="group_of_tags.py" name="driller_tags" args="
        --child-frame-format 'driller/tag36_11_{:0>5d}'
        --measurement-parent-frame xtion_rgb_optical_frame
        --group-frame driller/base_link
        --no-description
        --size 0.064
        --tag 230
        "
        output="$(arg output)"
        />
  </group>
</launch>
