<!--
    This launch file simulates Tiago in Gerard Bauzil room using Gazebo with
     - a driller in the hand,
     - the P72 part lying on a table.

    The robot is in "mapping" mode. That is to say that it builds a 2D map
    of the environment using the laser scanner. The map can then be saved in a
    file for later use.

    To move the robot around, type in a terminal
      rosrun key_teleop key_teleop.py

    To save the map in a file, type in a terminal
      rosservice call /pal_map_manager/save_map "directory: 'gerard-bauzil-simu'"

    See also http://wiki.ros.org/Robots/TIAGo/Tutorials/Navigation/Mapping.
-->
<launch>
  <arg name="namespace" default="/"/>
  <arg name="public_sim"   default="true"/>

  <arg name="robot"  default="titanium"/>
  <arg name="arm"  default="$(eval {'iron': False}.get(arg('robot'), True))"/>
  <arg name="end_effector"  default="$(eval {'iron': 'false', 'steel': 'pal-gripper', 'titanium': 'pal-hey5'}.get(arg('robot'), 'pal-gripper'))"/>
  <arg name="ft_sensor"  default="$(eval {'titanium': 'schunk-ft'}.get(arg('robot'), 'false'))"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="camera_model"  default="orbbec-astra"/>

  <arg name="world"  default="empty"/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="tuck_arm"  default="true"/>

  <arg name="planner"        default="base"/>
  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner"  default="$(eval 'teb' if arg('public_sim') else 'pal')"/>
  <arg name="mapping"        default="$(eval 'gmapping' if arg('public_sim') else 'karto')"/>

  <arg name="gzclient" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="extra_gazebo_args" default=""/>

  <arg name="rgbd_sensors"   default="false"/>

  <arg name="sim_sufix" value="_public_sim"     if="$(arg public_sim)"/>
  <arg name="sim_sufix" value=""                unless="$(arg public_sim)"/>

  <env name="PAL_HOST" value="tiago" />

  <include file="$(find tiago_gazebo)/launch/tiago_gazebo.launch">
      <arg name="world"      value="$(arg world)"/>
      <arg name="arm" value="$(arg arm)"/>
      <arg name="end_effector" value="$(arg end_effector)"/>
      <arg name="ft_sensor" value="$(arg ft_sensor)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="camera_model" value="$(arg camera_model)"/>
      <arg name="gzpose"     value="$(arg gzpose)"/>
      <arg name="tuck_arm"   value="$(arg tuck_arm)"/>
      <arg name="gui"        value="$(arg gzclient)"/>
      <arg name="public_sim" value="$(arg public_sim)"/>
      <arg name="recording"  value="$(arg recording)"/>
      <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <include file="$(find tiago_2dnav_gazebo)/launch/navigation.launch">
    <arg name="state"          value="mapping"/>
    <arg name="mapping"        value="$(arg mapping)"/>
    <arg name="planner"        value="$(arg planner)"/>
    <arg name="global_planner" value="$(arg global_planner)"/>
    <arg name="local_planner"  value="$(arg local_planner)"/>
    <arg name="public_sim"     value="$(arg public_sim)"/>
    <arg name="rgbd_sensors"   value="$(arg rgbd_sensors)"/>
    <arg name="laser_model"    value="$(arg laser_model)"/>
  </include>
  <!-- pointcloud to laserscan-->
  <group if="$(arg public_sim)">
    <include file="$(find tiago_laser_sensors)/launch/rgbd_cloud_laser.launch">
      <arg name="cloud" value="/xtion/depth_registered/points"/>
    </include>
  </group>

  <!-- salle Gerard Bauzil -->
  <group ns="gerard_bauzil">
    <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/gerard_bauzil.urdf"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node name="spawn_room" pkg="gazebo_ros" type="spawn_model"
      args="-file $(find gerard_bauzil)/urdf/gerard_bauzil.urdf -urdf -model gerard_bauzil -X -0 -Y 0. -Z -0.3 -R 0.0 -P 0.0 -Y 0" />
  </group>

  <!-- Driller -->
  <group ns="driller">
    <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/driller_with_qr_drill.urdf"/>
    <param name="tf_prefix" value="driller"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node name="spawn" pkg="gazebo_ros" type="spawn_model"
	  args="-file $(find agimus_demos)/urdf/driller_with_qr_drill.urdf -urdf -model driller
		-x -0.8308234 -y -0.60728794 -z 0.66926598 -R 1.55520314 -P -0.20965903 -Y 1.51499833 " />
  </group>
  <!-- P72 -->
  <group ns="part">
    <param name="robot_description" textfile="$(find agimus_demos)/urdf/P72-with-table.urdf"/>
    <param name="tf_prefix" value="part"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <!--node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
      args="0 0 0 0 0 0 1 world part/base_link"
      /-->

    <node name="spawn_part" pkg="gazebo_ros" type="spawn_model"
	  args="-file $(find agimus_demos)/urdf/P72-with-table.urdf -urdf -model part
		-x 2 -y 0 -z 0.8" />
  </group>
</launch>
