<launch>
  <node name="world_to_map" pkg="tf2_ros" type="static_transform_publisher"
    args="7.60299 -0.777559 -0.290495 1.5028752132051033 0 0 map world"
    />

  <!-- salle Gerard Bauzil -->
  <group ns="gerard_bauzil">
    <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/gerard_bauzil.urdf"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  </group>

  <!-- Driller -->
  <group ns="driller">
    <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/driller_with_qr_drill.urdf"/>
    <param name="tf_prefix" value="driller"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  </group>

  <!-- P72 -->
  <group ns="part">
    <param name="robot_description" textfile="$(find agimus_demos)/urdf/P72-with-table.urdf"/>
    <param name="tf_prefix" value="part"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <!--node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
      args="0 0 0 0 0 0 1 world part/base_link"
      /-->
  </group>
</launch>

