<launch>
  <arg name="part" />
  <!-- Part -->
  <group ns="part">
    <param name="robot_description" textfile="$(find agimus_demos)/urdf/$(arg part).urdf"/>
    <param name="tf_prefix" value="part"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="tf" type="static_transform_publisher" name="part_static_tf_pub" args="1.3 0 0 0 0 -0.707 0.707  world /part/base_link 100"/>
  </group>
</launch>
