<launch>
  <arg name="server_address" default="yokosan.laas.fr"/>
  <arg name="server_base_port" default="22222"/>
  <arg name="frame_rate" default="100"/>

  <node pkg="mocap_qualisys"
    type="mocap_qualisys_node"
    name="qualisys"
    output="screen">
    <param name="server_address" value="$(arg server_address)"/>
    <param name="server_base_port" value="$(arg server_base_port)"/>
    <param name="frame_rate" value="$(arg frame_rate)"/>
    <param name="max_accel" value="10.0"/>
    <param name="publish_tf" value="true"/>
    <param name="fixed_frame_id" value="mocap"/>
    <!-- UDP port can be set to -1 to request a TCP stream,
    setting 0 requests a random port, any other positive value 
    requests that specific port -->
    <param name="udp_port" value="0"/>
    <param name="qtm_protocol_version" value="18"/>
    <rosparam param="model_list">[]</rosparam>
    <!--remap from="qualisys/F450/odom" to="/f450/odom"/-->
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tiago_base_to_tf"
    args="-0.00769382449309 0.00165760477162 0.00891516532561 -1.56908461846 -0.00255657060562 0.00259174764418
    tiago_base mocap_base_joint"
    />
  <node pkg="tf2_ros" type="static_transform_publisher" name="mocap_to_world_to_tf"
    args="7.63800542297 -0.26169034809 0 -3.07367801067 0.00121324073485 -0.00646587073742 
    mocap map"/>

</launch>
