<launch>
  <!-- Which robot are we controlling ? -->
  <arg name="script_file" doc="Full path to the script which initialize the supervisor"
    default="$(find agimus_demos)/talos/pass_box_between_hands/supervisor.py" />

  <include file="$(find talos_gazebo)/launch/talos_gazebo.launch" >
  </include>
  <include file="$(find roscontrol_sot_talos)/launch/sot_talos_controller_gazebo.launch" >
  </include>

  <group ns="hpp" >
    <node
      name="hpp_node" pkg="hpp_ros_interface" type="hpp_node.py"
      args="hpp-manipulation-server" respawn="true"
      output="screen" />
  </group>

  <group ns="agimus" >
    <node name="path_execution_fsm" pkg="hpp_ros_interface"
      type="path_execution_fsm.py"
      output="screen" />
      <!--machine="controller"-->
    <node
      name="start_supervisor" pkg="agimus-sot"
      type="start_supervisor.py"
      output="screen"
      args="--input $(arg script_file) --prefix talos/ --simulate-torque-feedback"
      />
  </group>
</launch>
