<launch>
  <!--<machine name="controller" address="talos-1c"-->
    <!--env-loader="/home/pal/deployed_ws/install/setup.bash"/>-->
  <machine name="multimedia" address="talos-1m"
    env-loader="/home/pal/devel_hpp/config_roslaunch.sh"/>

  <!-- Which robot are we controlling ? -->
  <arg name="script_file" doc="Full path to the script which initialize the supervisor"
    default="$(find sot_hpp_demo)/talos/pass_box_between_hands/supervisor.py" />

  <include file="$(find talos_roscontrol_sot_talos)/launch/sot_talos_controller.launch" >
  </include>

  <group ns="hpp" >
    <node machine="multimedia"
      name="hpp_node" pkg="hpp_ros_interface" type="hpp_node.py"
      args="hpp-manipulation-server" respawn="true"
      output="screen" />
  </group>

  <group ns="sot_hpp" >
    <node machine="multimedia"
      name="smach_node" pkg="hpp_ros_interface"
      type="smach_node.py"
      output="screen" />
      <!--machine="controller"-->
    <node
      name="start_supervisor" pkg="sot_hpp"
      type="start_supervisor.py"
      output="screen"
      args="--input $(arg script_file) --prefix talos/"
      />
  </group>
</launch>
