<launch>
  <machine name="multimedia" address="talos-1m"
    env-loader="/home/pal/devel/config_roslaunch.sh"/>

  <!-- World setup -->
  <include file="$(find gerard_bauzil)/launch/cardboard_box.launch">
    <arg name="prefix" value="box" />
  </include>
  <include file="$(find gerard_bauzil)/launch/pedestal_table.launch">
    <arg name="prefix" value="table" />
  </include>
  <group ns="table">
    <node name="to_tf" pkg="tf" type="static_transform_publisher"
	  required="true"
	  args="0 0 0 0 0 0 1 world table/base_link 100"
	  />
  </group>

  <!-- Simulate the vision -->
  <!--
  <group ns="vision_simulation">
    <node pkg="tf" type="static_transform_publisher"
        name="odom_to_world"
        args="0 0 0 0 0 0 1 world odom 100" />
  </group> -->

  <!-- Setup vision -->
  <param name="imageTopic" value="/rgbd/rgb/image_rect" />
  <param name="cameraInfoTopic" value="/rgbd/rgb/camera_info" />
  <param name="parentNode" value="rgbd_rgb_optical_frame" />

  <group ns="vision">
    <node pkg="agimus_vision" type="tracker_object"
        name="tag_tracker"
        machine="multimedia" />
    <node pkg="agimus_demos" type="visual_tag_initializer.py" name="tag36_11_00001_init"
        args="1 63.5 table/tag36_11_00001"
        machine="multimedia" />
    <node pkg="agimus_demos" type="visual_tag_initializer.py" name="tag36_11_00002_init"
        args="2 63.5 table/tag36_11_00002"
        machine="multimedia" />
  </group>

  <!-- Which robot are we controlling ? -->
  <arg name="script_file" doc="Full path to the script which initialize the supervisor"
    default="$(find agimus_demos)/talos/pickup_cardboard_box/supervisor.py" />

  <include file="$(find roscontrol_sot_talos)/launch/sot_talos_controller.launch" >
  </include>

  <!--This starts the HPP interface in namespace agimus/hpp-->
  <include file="$(find agimus_hpp)/launch/hpp_interface.launch" >
    <arg name="machine" value="multimedia"/>
  </include>

  <!--This starts sot supervisor in namespace agimus/sot-->
  <include file="$(find agimus_sot)/launch/supervisor.launch" >
    <arg name="script_file" value="$(arg script_file)"/>
    <arg name="robot_prefix" value="talos/"/>
    <arg name="simulate_torque_feedback" value="false"/>
  </include>

  <include file="$(find agimus)/launch/path_execution.launch">
    <arg name="machine" value="multimedia"/>
    <arg name="gui" value="false"/>
  </include>
</launch>
