<launch>
  <machine name="multimedia" address="talos-1m"
    env-loader="/home/pal/devel/config_roslaunch.sh"/>

  <!-- Simulate the vision -->
  <group ns="vision_simulation">
    <!--<node name="spawn_table_urdf" pkg="gazebo_ros" type="spawn_model"-->
    <!--args="-file $(find gerard_bauzil)/urdf/pedestal_table.urdf -urdf -model table" />-->
    <!-- xyzrpy of cobblestone on table -->
    <!---x -0.075 -z 0.024 -z 1.168 -R 4.712 -P 1.57-->
    <!--<node name="spawn_cobblestone_urdf" pkg="gazebo_ros" type="spawn_model"-->
    <!--args="-file $(find gerard_bauzil)/urdf/cobblestone.urdf -urdf-->
    <!---x -0.040 -z 0.024 -z 1.1671 -R 4.712 -P 1.57-->
    <!---model box" />-->
    <!--<node name="box_to_tf" pkg="agimus_demos" type="gazebo_object_to_tf.py"-->
    <!--args="box base_link world" required="true"-->
    <!--/>-->
    <!--<node name="table_to_tf" pkg="agimus_demos" type="gazebo_object_to_tf.py"-->
    <!--args="table base_link world" required="true"-->
    <!--/>-->
    <node name="box_to_tf" pkg="tf" type="static_transform_publisher"
          required="true"
          args="-0.03999999910593033 0.024000000208616257 1.167000025510788 0.5 -0.5 -0.5 -0.5 world box/base_link 100"
          />
    <node pkg="tf" type="static_transform_publisher"
        name="odom_to_world"
        args="0 0 0 0 0 0 1 world odom 100" />
  </group>

  <!-- Which robot are we controlling ? -->
  <arg name="script_file" doc="Full path to the script which initialize the supervisor"
    default="$(find agimus_demos)/talos/pickup_object/supervisor.py" />

  <include file="$(find roscontrol_sot_talos)/launch/sot_talos_controller.launch" >
  </include>

  <!--This starts the HPP interface in namespace agimus/hpp-->
  <include file="$(find agimus-hpp)/launch/hpp_interface.launch" >
    <arg name="machine" value="multimedia"/>
  </include>

  <!--This starts sot supervisor in namespace agimus/sot-->
  <include file="$(find agimus-sot)/launch/supervisor.launch" >
    <arg name="script_file" value="$(arg script_file)"/>
    <arg name="robot_prefix" value="talos/"/>
    <arg name="simulate_torque_feedback" value="false"/>
  </include>

  <include file="$(find agimus)/launch/path_execution.launch">
    <arg name="machine" value="multimedia"/>
    <arg name="gui" value="false"/>
  </include>
</launch>
