<launch>
  <arg name="debug" default="false"/>
  <arg name="pal_simulator" default="false"/>
  <!-- Load the environment -->
  <group ns="gazebo">
    <node name="spawn_table" pkg="gazebo_ros" type="spawn_model"
      args="-file $(find gerard_bauzil)/urdf/rolling_table.urdf -urdf
      -x 0.5 -y 0. -z 0. -Y 0.
      -model table" unless="$(arg pal_simulator)"/>

    <node pkg="tf" type="static_transform_publisher"
        name="odom_to_world"
        args="0 0 0 0 0 0 1 world odom 100" />
  </group>

  <include file="$(find talos_description)/robots/upload.launch"
	   unless="$(arg pal_simulator)">
  </include>
  <include file="$(find talos_gazebo)/launch/talos_gazebo.launch"
	   unless="$(arg pal_simulator)">
    <!-- Gazebo args:
         -u: paused
    -->
    <arg name="load_model" value="false"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="extra_gazebo_args" value="-u"/>
    <arg name="gzpose" value="
      -x 0. -y -0. -z 1.05
      -R -0.0 -P 0.0 -Y 0.
      -J arm_left_1_joint  0.4
      -J arm_left_2_joint  0.24
      -J arm_left_3_joint  -0.7
      -J arm_left_4_joint  -1.45
      -J arm_left_5_joint  0.0
      -J arm_left_6_joint  0.0
      -J arm_left_7_joint  0.0
      -J arm_right_1_joint  -0.4
      -J arm_right_2_joint  -0.24
      -J arm_right_3_joint  0.7
      -J arm_right_4_joint  -1.45
      -J arm_right_5_joint  0.0
      -J arm_right_6_joint  0.0
      -J arm_right_7_joint  0.0
      -J gripper_left_fingertip_1_joint 	0.0
      -J gripper_left_fingertip_2_joint 	0.0
      -J gripper_left_fingertip_3_joint 	0.0
      -J gripper_left_inner_double_joint 	0.0
      -J gripper_left_inner_single_joint 	0.0
      -J gripper_left_joint 	0.0
      -J gripper_left_motor_single_joint 	0.0
      -J gripper_right_fingertip_1_joint 	0.0
      -J gripper_right_fingertip_2_joint 	0.0
      -J gripper_right_fingertip_3_joint 	0.0
      -J gripper_right_inner_double_joint 	0.0
      -J gripper_right_inner_single_joint 	0.0
      -J gripper_right_joint 	0.0
      -J gripper_right_motor_single_joint 	0.0
      -J leg_left_1_joint 	0.0
      -J leg_left_2_joint 	0.0
      -J leg_left_3_joint 	-0.37
      -J leg_left_4_joint 	0.67
      -J leg_left_5_joint 	-0.3
      -J leg_left_6_joint 	-0.
      -J leg_right_1_joint 	0.0
      -J leg_right_2_joint 	0.0
      -J leg_right_3_joint 	-0.37
      -J leg_right_4_joint 	0.67
      -J leg_right_5_joint 	-0.3
      -J leg_right_6_joint 	-0.0
      -J torso_1_joint          0.0
      -J torso_2_joint          0.05
      -J head_1_joint           0.0
      -J head_2_joint           0.0
      -J torso_1_joint 	        0.0
      -J torso_2_joint 	        0.006761
      "/>
    <!---0.017683184544140064, 0.012418080940971276, 0.06250270795619342, 0.997810857702132,-->
  </include>
  <include file="$(find talos_pal_physics_simulator)/launch/talos_pal_physics_simulator_with_actuators.launch"
	   if="$(arg pal_simulator)">
    <arg name="world" value="$(find agimus_demos)/worlds/rolling_table.world"/>
  </include>
</launch>
