<launch>
  <machine name="multimedia" address="talos-1m"
    env-loader="/home/pal/devel/config_roslaunch.sh"/>
  <!-- Initialization of robot root_joint pose as a ROS param
       value = "x y z X Y Z W" where Xi+Yj+Zk+W is a quaternion -->
  <param name="robot_initial_pose"
         value="0 0 1.0192720229567027 0 0 0 1"/>
  <!-- SoT parameters -->
  <arg name="script_file" doc="Full path to the script which initialize the supervisor"
    default="$(find agimus_demos)/talos/manipulate_boxes/robot_only_supervisor.py" />

  <include file="$(find roscontrol_sot_talos)/launch/sot_talos_controller.launch" >
  </include>

  <!--This starts the HPP interface in namespace agimus/hpp-->
  <group ns="agimus/hpp">
    <node name="hpp_node" pkg="agimus-hpp" type="hpp_node.py"
      args="hpp-manipulation-server" respawn="true"
      machine="multimedia"
      output="screen" />
  </group>

  <!--This starts sot supervisor in namespace agimus/sot-->
  <include file="$(find agimus-sot)/launch/supervisor.launch" >
    <arg name="script_file" value="$(arg script_file)"/>
    <arg name="robot_prefix" value="talos/"/>
    <arg name="simulate_torque_feedback" value="false"/>
  </include>

  <include file="$(find agimus)/launch/path_execution.launch">
    <arg name="machine" value="multimedia"/>
    <arg name="gui" value="false"/>
  </include>
</launch>
