<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur10_pointing_additional" >
  <xacro:macro name="environment">
   <link name="wall_link">
     <collision>
       <origin xyz="0 0 1.5"/>
       <geometry>
	       <box size="0.1 3 3"/>
       </geometry>
     </collision>
   </link>

   <joint name="wall_joint" type="fixed">
     <parent link="world" />
     <child link = "wall_link" />
     <origin xyz="-1.4 0.0 0.0" rpy="0.0 0.0 0.0" />
   </joint>

    <link name="support_link">
      <inertial>
        <mass value="200"/>
        <origin xyz="0 0 0.45"/>
        <inertia ixx="50"  ixy="0"  ixz="0" iyy="50" iyz="0" izz="50" />
      </inertial>
      <visual>
        <origin xyz="-0.4 0 0.3"/>
        <geometry>
	        <box size="1.0 1.2 0.6"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.4 0 0.3"/>
        <geometry>
	        <box size="1.0 1.2 0.6"/>
        </geometry>
      </collision>
    </link>

    <joint name="support_joint" type="fixed">
      <parent link="world" />
      <child link = "support_link" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="robot_joint" type="fixed">
      <parent link="support_link" />
      <child link = "base_link" />
      <origin xyz="0.0 0.0 0.60" rpy="0.0 0.0 -1.5707963" />
    </joint>

  </xacro:macro>
</robot>