<robot name="plank-with-april-tags">
  <link name="base_link">
    <visual>
      <origin xyz="-0.015 0 1.073" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.00 1.90"/>
      </geometry>
      <color rgba="1. 1. 1. .5"/>
    </visual>
    <visual>
      <origin xyz="0.01 -0.3 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.05 0.02"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.01 0.3 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.05 0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.015 0 1.073" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.00 1.90"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.01 -0.3 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.05 0.02"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.01 0.3 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.05 0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0.973" rpy="0 0 0"/>
      <inertia ixx="7.3" ixy="0" ixz="0" iyy="5.72" iyz="0" izz="1.58"/>
    </inertial>
  </link>

  <!-- tag 13 in the middle -->
  <link name="tag36_11_00013">
  </link>
  <joint name="to_tag_013_base" type="fixed">
    <parent link="base_link"/>
    <child link="tag36_11_00013"/>
    <origin xyz="0 0.045 1.456" rpy="1.5707963267948966 0 1.5707963267948966"/>
  </joint>
  <link name="tag36_11_00013_cao">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00013.dae" scale="0.1725 0.1725 1."/>
      </geometry>
    </visual>
  </link>
  <joint name="to_tag_013_cao" type="fixed">
    <parent link="tag36_11_00013"/>
    <child link="tag36_11_00013_cao"/>
    <origin xyz="0. 0. 0"  rpy="0 0 0"/>
  </joint>
</robot>

