<robot name="bin">
  <link name="base_link"/>

  <joint name="bin_fixed_joint" type="fixed">
    <parent link="base_link"/>
    <child link="bin_housing_link"/>
    <origin xyz="0.1 -0.1 0" rpy="0 -3.14159 0"/>
  </joint>

  <link name="bin_housing_link">
    <inertial>
      <origin xyz="0.0 0.0 0.3" rpy="0 0 0" />
      <mass value="1.2"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
	       iyy="0.001" iyz="0.0"
	       izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 3.14159 0" />
      <geometry>
        <mesh filename="package://agimus_demos/meshes/HOUSING-01.stl"/>
      </geometry>
      <material name="lightGrey">
        <color rgba="0.9 0.9 0.9 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 3.14159 0" />
      <geometry>
        <mesh filename="package://agimus_demos/meshes/HOUSING-01.stl"/>
      </geometry>
    </collision>
  </link>



  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
