<?xml version="1.0"?>
<robot name="ground">
  <link name="world">
    <visual>
      <geometry>
        <box size="5 5 0.02"/>
      </geometry>
      <origin xyz="0 0 -0.01"/>
      <material name="Orange">
        <color rgba="1 0.4 0.3 0.6"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="5 5 0.02"/>
      </geometry>
      <origin xyz="0 0 -0.02"/>
    </collision>
  </link>
</robot>
