<robot name="p72-table">
  <link name="base_link"/>

  <!--joint name="to_p72" type="fixed">
    <parent link="base_link"/>
    <child link="p72_link"/>
    <origin xyz="0.0 -0.3 0.8"/>
  </joint-->

  <joint name="to_table" type="fixed">
    <parent link="base_link"/>
    <child link="table_link"/>
  </joint>

  <link name="table_link">
    <visual>
      <origin xyz="0 0 .725"/>
      <geometry>
        <box size="0.8 0.8 .01"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz=".39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-.39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-.39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz=".39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 .725"/>
      <geometry>
        <box size="0.84 .84 .01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz=".39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-.39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-.39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz=".39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.2"/>
      <origin xyz="0 0 0.65" rpy="0 0 0"/>
      <inertia ixx="0.1"  ixy="0"  ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>
  <gazebo>
    <static>true</static>
  </gazebo>

</robot>
