<robot name="p72">
  <link name="base_link">  
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rob4fam-models/meshes/P72.stl" scale="0.01 0.01 0.01"/>
      </geometry>
       <material name="Red">
         <color rgba="1. 0.1 0.1 1.0"/>
       </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rob4fam-models/meshes/P72.stl"  scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.2"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1"  ixy="0"  ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

<!-- Lower Tag -->
  <link name="tag36_11_00100">
    <visual>
      <origin xyz="0 0 0.00000"/>
      <geometry>
        <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00100.dae" scale="0.04 0.04 1."/>
      </geometry>
    </visual>
  </link>

  <joint name="to_tag_100" type="fixed">
    <parent link="base_link"/>
    <child link="tag36_11_00100"/>
    <origin xyz="0.02 -0.031 0.44"  rpy="1.6 0 0"/>
  </joint>

  <link name="hole_01_link"/>
  <joint name="to_hole_01" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_01_link"/>
    <origin xyz="-0.045 -0.003 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_02_link"/>
  <joint name="to_hole_02" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_02_link"/>
    <origin xyz="-0.023 0.033 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_03_link"/>
  <joint name="to_hole_03" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_03_link"/>
    <origin xyz="0.022 0.033 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_04_link"/>
  <joint name="to_hole_04" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_04_link"/>
    <origin xyz="0.037 -0.003 0.0" rpy="0 0 0"/>
  </joint>

   <link name="hole_05_link"/>
  <joint name="to_hole_05" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_05_link"/>
    <origin xyz="0.022 -0.035 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_06_link"/>
  <joint name="to_hole_06" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_06_link"/>
    <origin xyz="-0.023 -0.035 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_07_link"/>
  <joint name="to_hole_07" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_07_link"/>
    <origin xyz="-0.045 -0.07 0.0" rpy="0 0 0"/>
  </joint>

   <link name="hole_08_link"/>
  <joint name="to_hole_08" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_08_link"/>
    <origin xyz="-0.023 -0.11 0.0" rpy="0 0 0"/>
  </joint>

   <link name="hole_09_link"/>
  <joint name="to_hole_09" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_09_link"/>
    <origin xyz="0.022 -0.11 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_10_link"/>
  <joint name="to_hole_10" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_10_link"/>
   <origin xyz="0.037 -0.07 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_11_link"/>
  <joint name="to_hole_11" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_11_link"/>
   <origin xyz="-0.035 0.095 0.005" rpy="0 0 0"/>
  </joint>

  <link name="hole_12_link"/>
  <joint name="to_hole_12" type="fixed">
    <parent link="tag36_11_00100"/>
    <child link="hole_12_link"/>
   <origin xyz="0.05 0.095 0.005" rpy="0 0 0"/>
  </joint>
  <!-- End Lower Tag -->


  <!-- Upper Tag -->


  <link name="tag36_11_00101">
    <visual>
      <origin xyz="0 0 0.00000"/>
      <geometry>
        <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00101.dae" scale="0.04 0.04 1."/>
      </geometry>
    </visual>
  </link>

  <joint name="to_tag_101" type="fixed">
    <parent link="base_link"/>
    <child link="tag36_11_00101"/>
    <origin xyz="0.02 -0.045 0.70"  rpy="1.6 0 0"/>
  </joint>

  <link name="hole_13_link"/>
  <joint name="to_hole_13" type="fixed">
    <parent link="tag36_11_00101"/>
    <child link="hole_13_link"/>
    <origin xyz="-0.04 -0.105 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_14_link"/>
  <joint name="to_hole_14" type="fixed">
    <parent link="tag36_11_00101"/>
    <child link="hole_14_link"/>
    <origin xyz="-0.04 -0.055 0.0" rpy="0 0 0"/>
  </joint>

   <link name="hole_15_link"/>
  <joint name="to_hole_15" type="fixed">
    <parent link="tag36_11_00101"/>
    <child link="hole_15_link"/>
    <origin xyz="-0.04 -0.01 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_16_link"/>
  <joint name="to_hole_16" type="fixed">
    <parent link="tag36_11_00101"/>
    <child link="hole_16_link"/>
    <origin xyz="0.05 -0.01 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_17_link"/>
  <joint name="to_hole_17" type="fixed">
    <parent link="tag36_11_00101"/>
    <child link="hole_17_link"/>
    <origin xyz="0.05 -0.055 0.0" rpy="0 0 0"/>
  </joint>

  <link name="hole_18_link"/>
  <joint name="to_hole_18" type="fixed">
    <parent link="tag36_11_00101"/>
    <child link="hole_18_link"/>
    <origin xyz="0.05 -0.105 0.0" rpy="0 0 0"/>
  </joint>

  <joint name="to_table" type="fixed">
    <parent link="base_link"/>
    <child link="table_link"/>
    <origin xyz="0.0 0.35 -0.8"/>
  </joint>

  <link name="table_link">
    <visual>
      <origin xyz="0 0 .725"/>
      <geometry>
        <box size="0.8 0.8 .01"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz=".39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-.39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-.39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz=".39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 .725"/>
      <geometry>
        <box size="0.84 .84 .01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz=".39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-.39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-.39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz=".39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.2"/>
      <origin xyz="0 0 0.65" rpy="0 0 0"/>
      <inertia ixx="0.1"  ixy="0"  ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>
</robot>
