<robot name="p72">

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rob4fam-models/meshes/P72.stl" scale="0.01 0.01 0.01"/>
      </geometry>
       <material name="Red">
         <color rgba="1. 0.1 0.1 1.0"/>
       </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rob4fam-models/meshes/P72.stl"  scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.05 -0.0422962331772 0.0814425373077" />
      <geometry>
        <box size="0.6 0.15 0.15"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.2"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1"  ixy="0"  ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <!-- Table -->
  <joint name="to_table" type="fixed">
    <parent link="base_link"/>
    <child link="table_link"/>
    <origin xyz="0.0 0.35 -0.8"/>
  </joint>

  <link name="table_link">
    <visual>
      <origin xyz="0 0 .725"/>
      <geometry>
        <box size="0.8 0.8 .01"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz=".39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-.39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-.39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz=".39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 .725"/>
      <geometry>
        <box size="0.84 .84 .01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz=".39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-.39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-.39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz=".39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.2"/>
      <origin xyz="0 0 0.65" rpy="0 0 0"/>
      <inertia ixx="0.1"  ixy="0"  ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>



      <link name="tag36_11_00015">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00015.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00015" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00015"/>
        <origin xyz="-0.132714992453 -0.0338492746834 0.546713277339" rpy="1.63558443485 -0.0100636021863 -0.0123677826844"/>
      </joint>
      <link name="tag36_11_00001">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00001.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00001" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00001"/>
        <origin xyz="0.187446082171 -0.0196918851323 0.270695220351" rpy="1.63558832343 -0.0144794549061 -0.0126538620328"/>
      </joint>
      <link name="tag36_11_00005">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00005.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00005" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00005"/>
        <origin xyz="-0.134615156397 -0.0157810400267 0.268570942321" rpy="1.63558216075 -0.00505487204676 -0.0120424020574"/>
      </joint>
      <link name="tag36_11_00006">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00006.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00006" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00006"/>
        <origin xyz="0.13505343666 -0.0411297358145 0.610576717041" rpy="1.63559091766 0.0168739155875 -0.0106194446955"/>
      </joint>
      <link name="tag36_11_00013">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00013.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00013" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00013"/>
        <origin xyz="0.305626995798 -0.0287818764035 0.389459655785" rpy="1.63558754949 -0.013119507191 -0.0125658606706"/>
      </joint>
      <link name="tag36_11_00014">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00014.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00014" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00014"/>
        <origin xyz="0.296861067652 -0.0451246665534 0.64293372232" rpy="1.63558334891 0.00786505678754 -0.0112044889443"/>
      </joint>
      <link name="tag36_11_00100">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00100.dae" scale="0.06 0.06 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00100" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00100"/>
        <origin xyz="0.0227731313426 -0.0362620079839 0.555824325156" rpy="1.63558590143 -0.0123005948483 -0.0125130784124"/>
      </joint>
      <link name="tag36_11_00101">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00101.dae" scale="0.06 0.06 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00101" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00101"/>
        <origin xyz="0.0253840100929 -0.0478708964741 0.734281397145" rpy="1.63558300569 -0.00814535064071 -0.0122428747253"/>
      </joint>
      <link name="tag36_11_00102">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00102.dae" scale="0.06 0.06 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00102" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00102"/>
        <origin xyz="0.0154836510765 -0.0182814625721 0.280007398418" rpy="1.63558236902 -0.000589476469026 -0.011752765053"/>
      </joint>
      <link name="tag36_11_00002">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00002.dae" scale="0.053 0.053 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00002" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00002"/>
        <origin xyz="0.0175572832871 0.295477342514 0.3578830768" rpy="1.51021243286 -0.000758788717127 -1.53180313163"/>
      </joint>
      <link name="tag36_11_00003">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00003.dae" scale="0.053 0.053 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00003" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00003"/>
        <origin xyz="0.0270258771322 0.0484033000731 0.355262543794" rpy="1.51017094646 0.0367415970718 -1.53407926645"/>
      </joint>
      <link name="tag36_11_00004">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00004.dae" scale="0.053 0.053 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00004" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00004"/>
        <origin xyz="0.0422633564625 0.102675094248 0.64111250013" rpy="1.51011312766 0.0572336425954 -1.53532470498"/>
      </joint>

      <link name="hole_00_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_00" type="fixed">
        <parent link="base_link"/>
        <child link="hole_00_link"/>
        <origin xyz="-0.171321990332 -0.0421616098433 0.68180233862" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_01_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_01" type="fixed">
        <parent link="base_link"/>
        <child link="hole_01_link"/>
        <origin xyz="-0.134967027196 -0.0432202069067 0.691553990137" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_02_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_02" type="fixed">
        <parent link="base_link"/>
        <child link="hole_02_link"/>
        <origin xyz="-0.0968187933936 -0.0440970998511 0.6981812339" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_03_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_03" type="fixed">
        <parent link="base_link"/>
        <child link="hole_03_link"/>
        <origin xyz="-0.0583008724167 -0.0450609049794 0.706081300806" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_04_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_04" type="fixed">
        <parent link="base_link"/>
        <child link="hole_04_link"/>
        <origin xyz="-0.0215438601006 -0.0444131762612 0.689460780178" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_05_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_05" type="fixed">
        <parent link="base_link"/>
        <child link="hole_05_link"/>
        <origin xyz="0.0671349938135 -0.04533841603 0.687709053112" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_06_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_06" type="fixed">
        <parent link="base_link"/>
        <child link="hole_06_link"/>
        <origin xyz="0.105213015618 -0.0464150832607 0.697428093106" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_07_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_07" type="fixed">
        <parent link="base_link"/>
        <child link="hole_07_link"/>
        <origin xyz="0.143071851031 -0.0461789550105 0.686952612364" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_08_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_08" type="fixed">
        <parent link="base_link"/>
        <child link="hole_08_link"/>
        <origin xyz="0.180440114227 -0.0459427351908 0.676564301195" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_09_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_09" type="fixed">
        <parent link="base_link"/>
        <child link="hole_09_link"/>
        <origin xyz="-0.0224890955674 -0.0414695669864 0.64426164932" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_10_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_10" type="fixed">
        <parent link="base_link"/>
        <child link="hole_10_link"/>
        <origin xyz="-0.0241170420771 -0.0382401782744 0.594781078755" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_11_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_11" type="fixed">
        <parent link="base_link"/>
        <child link="hole_11_link"/>
        <origin xyz="-0.0253623970087 -0.0339418135908 0.528755313182" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_12_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_12" type="fixed">
        <parent link="base_link"/>
        <child link="hole_12_link"/>
        <origin xyz="0.0638140339585 -0.0348699940821 0.52695906566" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_13_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_13" type="fixed">
        <parent link="base_link"/>
        <child link="hole_13_link"/>
        <origin xyz="0.0646747371785 -0.0391049991366 0.582077725384" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_14_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_14" type="fixed">
        <parent link="base_link"/>
        <child link="hole_14_link"/>
        <origin xyz="0.0651770872357 -0.0423890219858 0.632603616213" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_15_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_15" type="fixed">
        <parent link="base_link"/>
        <child link="hole_15_link"/>
        <origin xyz="-0.00581565408143 -0.0300868263721 0.465808960919" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_16_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_16" type="fixed">
        <parent link="base_link"/>
        <child link="hole_16_link"/>
        <origin xyz="-0.0287206819784 -0.0277687203336 0.434215906699" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_17_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_17" type="fixed">
        <parent link="base_link"/>
        <child link="hole_17_link"/>
        <origin xyz="-0.00681076169956 -0.0259520893171 0.402259999413" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_18_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_18" type="fixed">
        <parent link="base_link"/>
        <child link="hole_18_link"/>
        <origin xyz="0.0395908374631 -0.0264151962245 0.401019283039" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_19_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_19" type="fixed">
        <parent link="base_link"/>
        <child link="hole_19_link"/>
        <origin xyz="0.0624049149707 -0.0287171565045 0.432379905506" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_20_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_20" type="fixed">
        <parent link="base_link"/>
        <child link="hole_20_link"/>
        <origin xyz="0.0411795799397 -0.0305606901784 0.464626849878" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_21_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_21" type="fixed">
        <parent link="base_link"/>
        <child link="hole_21_link"/>
        <origin xyz="-0.027650736389 -0.0233318499444 0.365637288787" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_22_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_22" type="fixed">
        <parent link="base_link"/>
        <child link="hole_22_link"/>
        <origin xyz="-0.00882999697092 -0.0209205690949 0.325073854638" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_23_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_23" type="fixed">
        <parent link="base_link"/>
        <child link="hole_23_link"/>
        <origin xyz="0.0385057385935 -0.0214423609369 0.324568974555" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_24_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_24" type="fixed">
        <parent link="base_link"/>
        <child link="hole_24_link"/>
        <origin xyz="0.0591660819504 -0.0242572619148 0.364224437202" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_25_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_25" type="fixed">
        <parent link="base_link"/>
        <child link="hole_25_link"/>
        <origin xyz="-0.0722041913402 -0.0151389611034 0.247405270827" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_26_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_26" type="fixed">
        <parent link="base_link"/>
        <child link="hole_26_link"/>
        <origin xyz="-0.108576452332 -0.0111114957985 0.191897617858" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_27_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_27" type="fixed">
        <parent link="base_link"/>
        <child link="hole_27_link"/>
        <origin xyz="0.130369519233 -0.0139115318996 0.191908885495" rpy="-0.0640311055917 -0.0647851134354 1.55908164092"/>
      </joint>
      <link name="hole_28_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_28" type="fixed">
        <parent link="base_link"/>
        <child link="hole_28_link"/>
        <origin xyz="0.0972463345939 -0.0276215725564 0.250945171602" rpy="1.65749733575 -0.0230228923082 -0.0118790171612"/>
      </joint>
</robot>
