<robot name="p72">
  <link name="base_link">  
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rob4fam-models/meshes/P72.stl" scale="0.01 0.01 0.01"/>
      </geometry>
       <material name="Red">
         <color rgba="1. 0.1 0.1 1.0"/>
       </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rob4fam-models/meshes/P72.stl"  scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.05 -0.0422962331772 0.0814425373077" />
      <geometry>
        <box size="0.6 0.15 0.15"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.2"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1"  ixy="0"  ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <!-- Table -->
  <joint name="to_table" type="fixed">
    <parent link="base_link"/>
    <child link="table_link"/>
    <origin xyz="0.0 0.35 -0.8"/>
  </joint>

  <link name="table_link">
    <visual>
      <origin xyz="0 0 .725"/>
      <geometry>
        <box size="0.8 0.8 .01"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz=".39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-.39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-.39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz=".39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 .725"/>
      <geometry>
        <box size="0.84 .84 .01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz=".39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-.39 .39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-.39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz=".39 -.39 .36"/>
      <geometry>
        <box size=".02 .02 .72"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.2"/>
      <origin xyz="0 0 0.65" rpy="0 0 0"/>
      <inertia ixx="0.1"  ixy="0"  ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>


      <link name="tag36_11_00015">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00015.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00015" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00015"/>
        <origin xyz="-0.132714992453 -0.0338492746834 0.546713277339" rpy="1.63558443485 -0.0100636021863 -0.0123677826844"/>
      </joint>
      <link name="tag36_11_00006">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00006.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00006" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00006"/>
        <origin xyz="0.209757497083 -0.0192690851296 0.260156891357" rpy="1.63558183905 -0.000709491591922 -0.011760293272"/>
      </joint>
      <link name="tag36_11_00001">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00001.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00001" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00001"/>
        <origin xyz="0.165575347947 -0.0403532460388 0.593100608649" rpy="1.63558125242 -2.08388275409e-05 -0.0117152118689"/>
      </joint>
      <link name="tag36_11_00013">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00013.dae" scale="0.0845 0.0845 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00013" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00013"/>
        <origin xyz="-0.156582180737 -0.0166076277492 0.285280251246" rpy="-3.09680119279 1.5059440078 1.60396905162"/>
      </joint>
      <link name="tag36_11_00100">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00100.dae" scale="0.041 0.041 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00100" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00100"/>
        <origin xyz="0.0215301612557 -0.0294468599394 0.437656603341" rpy="1.62189609974 -0.0169612044137 0.0202079512408"/>
      </joint>
      <link name="tag36_11_00101">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00101.dae" scale="0.041 0.041 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00101" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00101"/>
        <origin xyz="0.0336208898396 -0.0454417531079 0.709334144842" rpy="1.60780446811 0.0107058958873 -0.0122439922137"/>
      </joint>
      <link name="tag36_11_00002">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00002.dae" scale="0.053 0.053 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00002" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00002"/>
        <origin xyz="0.03254163058 0.31128598997 0.358188437175" rpy="1.51955309441 0.00962846587559 -1.51067110245"/>
      </joint>
      <link name="tag36_11_00003">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00003.dae" scale="0.053 0.053 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00003" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00003"/>
        <origin xyz="0.047577477726 0.0602993078014 0.354346676841" rpy="1.51951986751 0.0371976888809 -1.51208613621"/>
      </joint>
      <link name="tag36_11_00004">
        <visual>
          <geometry>
            <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/tag36_11_00004.dae" scale="0.053 0.053 1."/>
          </geometry>
        </visual>
      </link>
      <joint name="to_tag_00004" type="fixed">
        <parent link="base_link"/>
        <child link="tag36_11_00004"/>
        <origin xyz="0.0591518488962 0.114657635633 0.643827371012" rpy="1.51947935317 0.0543679057873 -1.51296798709"/>
      </joint>

      <link name="hole_00_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_00" type="fixed">
        <parent link="base_link"/>
        <child link="hole_00_link"/>
        <origin xyz="-0.155770641124 -0.0424771571746 0.683856170357" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_01_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_01" type="fixed">
        <parent link="base_link"/>
        <child link="hole_01_link"/>
        <origin xyz="-0.119194759843 -0.0434301076044 0.691939929207" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_02_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_02" type="fixed">
        <parent link="base_link"/>
        <child link="hole_02_link"/>
        <origin xyz="-0.0827760353141 -0.044394244251 0.700224474437" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_03_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_03" type="fixed">
        <parent link="base_link"/>
        <child link="hole_03_link"/>
        <origin xyz="-0.0447587609109 -0.045361869915 0.708274171702" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_04_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_04" type="fixed">
        <parent link="base_link"/>
        <child link="hole_04_link"/>
        <origin xyz="-0.00929615138765 -0.0448202747823 0.69352376718" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_05_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_05" type="fixed">
        <parent link="base_link"/>
        <child link="hole_05_link"/>
        <origin xyz="0.0778339430528 -0.0458425972294 0.69354901095" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_06_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_06" type="fixed">
        <parent link="base_link"/>
        <child link="hole_06_link"/>
        <origin xyz="0.115157469878 -0.0468563840923 0.702435441138" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_07_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_07" type="fixed">
        <parent link="base_link"/>
        <child link="hole_07_link"/>
        <origin xyz="0.158061748089 -0.0468455903653 0.694522567088" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_08_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_08" type="fixed">
        <parent link="base_link"/>
        <child link="hole_08_link"/>
        <origin xyz="0.194298536815 -0.0463371141941 0.680142838638" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_09_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_09" type="fixed">
        <parent link="base_link"/>
        <child link="hole_09_link"/>
        <origin xyz="-0.0112678649873 -0.0420553293893 0.651264148847" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_10_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_10" type="fixed">
        <parent link="base_link"/>
        <child link="hole_10_link"/>
        <origin xyz="-0.0121904753945 -0.0388417283305 0.601900060387" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_11_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_11" type="fixed">
        <parent link="base_link"/>
        <child link="hole_11_link"/>
        <origin xyz="-0.013035913003 -0.0345847104948 0.536440038537" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_12_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_12" type="fixed">
        <parent link="base_link"/>
        <child link="hole_12_link"/>
        <origin xyz="0.0742530225476 -0.0354907632702 0.534644558974" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_13_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_13" type="fixed">
        <parent link="base_link"/>
        <child link="hole_13_link"/>
        <origin xyz="0.0757637160624 -0.0397228658765 0.599600452569" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_14_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_14" type="fixed">
        <parent link="base_link"/>
        <child link="hole_14_link"/>
        <origin xyz="0.0768435596969 -0.0429395890849 0.648984273182" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_15_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_15" type="fixed">
        <parent link="base_link"/>
        <child link="hole_15_link"/>
        <origin xyz="0.0052303051493 -0.0307609328316 0.474206797449" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_16_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_16" type="fixed">
        <parent link="base_link"/>
        <child link="hole_16_link"/>
        <origin xyz="-0.0176592831287 -0.0285031741024 0.443541150984" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_17_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_17" type="fixed">
        <parent link="base_link"/>
        <child link="hole_17_link"/>
        <origin xyz="0.0044037638324 -0.0266528097351 0.411038252283" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_18_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_18" type="fixed">
        <parent link="base_link"/>
        <child link="hole_18_link"/>
        <origin xyz="0.0512605036466 -0.0270780033035 0.409131543587" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_19_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_19" type="fixed">
        <parent link="base_link"/>
        <child link="hole_19_link"/>
        <origin xyz="0.0739601944277 -0.029369781395 0.440355811145" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_20_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_20" type="fixed">
        <parent link="base_link"/>
        <child link="hole_20_link"/>
        <origin xyz="0.0527292674577 -0.0311960427404 0.472336972128" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_21_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_21" type="fixed">
        <parent link="base_link"/>
        <child link="hole_21_link"/>
        <origin xyz="-0.0159863970996 -0.0240253262587 0.37422282316" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_22_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_22" type="fixed">
        <parent link="base_link"/>
        <child link="hole_22_link"/>
        <origin xyz="0.00112257660907 -0.0215245367479 0.332589510569" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_23_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_23" type="fixed">
        <parent link="base_link"/>
        <child link="hole_23_link"/>
        <origin xyz="0.0492759855859 -0.0221065103501 0.332865107013" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_24_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_24" type="fixed">
        <parent link="base_link"/>
        <child link="hole_24_link"/>
        <origin xyz="0.0702131829896 -0.0249036753566 0.372197038486" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_25_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_25" type="fixed">
        <parent link="base_link"/>
        <child link="hole_25_link"/>
        <origin xyz="-0.0570256735366 -0.0166625593218 0.268151568967" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_26_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_26" type="fixed">
        <parent link="base_link"/>
        <child link="hole_26_link"/>
        <origin xyz="-0.0918515448753 -0.01273064925 0.213837657992" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_27_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_27" type="fixed">
        <parent link="base_link"/>
        <child link="hole_27_link"/>
        <origin xyz="0.141074624035 -0.0150914142326 0.208168108264" rpy="-0.0640318226797 -0.0647857915715 1.55908237278"/>
      </joint>
      <link name="hole_28_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_28" type="fixed">
        <parent link="base_link"/>
        <child link="hole_28_link"/>
        <origin xyz="0.106753437325 -0.0118388409354 0.256654473283" rpy="1.02387929648 -0.0175241984904 -0.211638133281"/>
      </joint>
      <link name="hole_29_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_29" type="fixed">
        <parent link="base_link"/>
        <child link="hole_29_link"/>
        <origin xyz="-0.00102212774089 0.299171906655 0.445735350015" rpy="1.64999112253 -0.047274801489 -1.46662948702"/>
      </joint>
      <link name="hole_30_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_30" type="fixed">
        <parent link="base_link"/>
        <child link="hole_30_link"/>
        <origin xyz="-0.0101795664808 0.301414946868 0.488873537139" rpy="1.6491249147 0.0050846080814 -1.44111848342"/>
      </joint>
      <link name="hole_31_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_31" type="fixed">
        <parent link="base_link"/>
        <child link="hole_31_link"/>
        <origin xyz="-0.0144997110839 0.301836532246 0.533678698395" rpy="2.16408375452 -0.111223794402 -1.53720683256"/>
      </joint>
      <link name="hole_32_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_32" type="fixed">
        <parent link="base_link"/>
        <child link="hole_32_link"/>
        <origin xyz="0.0614741373359 0.309365891905 0.58260602093" rpy="1.83790754352 -0.0628918456327 -1.45084638209"/>
      </joint>
      <link name="hole_33_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_33" type="fixed">
        <parent link="base_link"/>
        <child link="hole_33_link"/>
        <origin xyz="0.0657683245849 0.312086259678 0.627754500815" rpy="2.05523922677 -0.00605405127109 -1.5404014809"/>
      </joint>
      <link name="hole_34_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_34" type="fixed">
        <parent link="base_link"/>
        <child link="hole_34_link"/>
        <origin xyz="-0.0553205449752 0.308308202778 0.657524847262" rpy="2.46622666149 -0.0507037093904 -1.39838873615"/>
      </joint>
      <link name="hole_35_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_35" type="fixed">
        <parent link="base_link"/>
        <child link="hole_35_link"/>
        <origin xyz="-0.0516551023779 0.348024306204 0.24965343331" rpy="1.59449006759 -0.0425150408999 -3.04640899492"/>
      </joint>
      <link name="hole_36_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_36" type="fixed">
        <parent link="base_link"/>
        <child link="hole_36_link"/>
        <origin xyz="-0.0908704512969 0.344537492662 0.196739871502" rpy="1.67661337086 0.00466998860062 -3.03544809595"/>
      </joint>
      <link name="hole_37_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_37" type="fixed">
        <parent link="base_link"/>
        <child link="hole_37_link"/>
        <origin xyz="-0.0870034310336 0.342045947228 0.14045485912" rpy="1.59110441581 -0.105729647242 -3.05176919967"/>
      </joint>
      <link name="hole_38_link">
        <visual>
          <geometry>
            <sphere radius="0.005" />
          </geometry>
        </visual>
      </link>
      <joint name="to_hole_38" type="fixed">
        <parent link="base_link"/>
        <child link="hole_38_link"/>
        <origin xyz="0.125500811172 0.34818077695 0.247162534997" rpy="1.67565101358 0.0289015115821 -3.03492955206"/>
      </joint>
      
</robot>
