<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur10e" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find agimus_demos)/urdf/ur10_gazebo.xacro" />

  <!-- ur10 -->
  <xacro:include filename="$(find ur_description)/urdf/ur10e.xacro" />
    <!-- <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" /> -->


   <link name="world" />

    <!-- define global properties -->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <xacro:property name="camera_position_x" value="-0.12" />
    <xacro:property name="camera_position_y" value="0.0" />
    <xacro:property name="camera_position_z" value="-0.2" />
    <xacro:property name="camera_orientation_r" value="0.0" />
    <xacro:property name="camera_orientation_p" value="${-0.5*M_PI + 0.38}" />
    <xacro:property name="camera_orientation_y" value="0.0" />

    <link name="support_link">
      <inertial>
        <mass value="200"/>
        <origin xyz="0 0 0.45"/>
        <inertia ixx="50"  ixy="0"  ixz="0" iyy="50" iyz="0" izz="50" />
      </inertial>
      <visual>
        <origin xyz="-0.4 0 0.45"/>
        <geometry>
	  <box size="1.0 1.2 0.9"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.4 0 0.45"/>
        <geometry>
	  <box size="1.0 1.2 0.9"/>
        </geometry>
      </collision>
    </link>

    <joint name="support_joint" type="fixed">
      <parent link="world" />
      <child link = "support_link" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="robot_joint" type="fixed">
      <parent link="support_link" />
      <child link = "base_link" />
      <origin xyz="0.0 0.0 0.90" rpy="0.0 0.0 -1.5707963" />
    </joint>

    <!-- <link name="tool_link">
      <collision>
        <geometry>
          <box size="0.02 0.05 0.2"/>
        </geometry>
        <origin rpy="0 0 0" xyz="-0.01 0 0"/>
      </collision>
      <visual>
        <geometry>
          <box size="0.02 0.05 0.2"/>
        </geometry>
        <origin rpy="0 0 0" xyz="-0.01 0 0"/>
      </visual>
    </link -->

  <!-- <link name="tool_link">
     <collision>
       <geometry>
         <cylinder radius="0.002" length="0.16"/>
       </geometry>
       <origin rpy="0 0 0" xyz="0 0 -0.05"/>
     </collision>
     <visual>
       <geometry>
         <cylinder radius="0.002" length="0.16"/>
       </geometry>
       <origin rpy="0 0 0" xyz="0 0 -0.05"/>
     </visual>
  </link> -->

    <joint name="ee_fixed_joint" type="fixed">
     <parent link="wrist_3_link" />
     <child link = "ee_link" />
     <origin xyz="0.0 0.0 0.117" rpy="0.0 0.0 ${pi/2.0}" />
   </joint>

   <link name="ee_link">
     <!-- <collision>
       <geometry>
         <box size="0.01 0.01 0.01"/>
       </geometry>
       <origin rpy="0 0 0" xyz="-0.01 0 0"/>
     </collision>
     <visual>
       <geometry>
         <box size="0.01 0.01 0.01"/>
       </geometry>
       <origin rpy="0 0 0" xyz="-0.01 0 0"/>
     </visual> -->
   </link>

   <link name="ur10e_d435_mount_link">
     <inertial>
       <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
       <mass value="0.1"/>
       <inertia ixx="0.001" ixy="0.0" ixz="0.0"
         iyy="0.001" iyz="0.0"
         izz="0.001" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="package://agimus_demos/meshes/ur10e_d435_mount.stl"/>
       </geometry>
       <material name="Red">
         <color rgba="0.9 0.1 0.1 1.0"/>
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="package://agimus_demos/meshes/ur10e_d435_mount.stl"/>
       </geometry>
     </collision>
   </link>

   <joint name="ur10e_d435_mount_joint" type="fixed">
     <parent link="wrist_3_link"/>
     <child link="ur10e_d435_mount_link" />
     <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.14159265359" />
   </joint>


   <link name="ur10e_tip_link">
     <inertial>
       <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
       <mass value="0.1"/>
       <inertia ixx="0.001" ixy="0.0" ixz="0.0"
         iyy="0.001" iyz="0.0"
         izz="0.001" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="package://agimus_demos/meshes/ur10e_tip.stl"/>
       </geometry>
       <material name="Red">
         <color rgba="0.9 0.1 0.1 1.0"/>
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="package://agimus_demos/meshes/ur10e_tip.stl"/>
       </geometry>
     </collision>
   </link>

   <joint name="ur10e_tip_joint" type="fixed">
     <parent link="ur10e_d435_mount_link"/>
     <child link="ur10e_tip_link" />
     <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 0.0" />
   </joint>

   <link name="drill_tip_link">
   <inertial>
     <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
     <mass value="0.1"/>
     <inertia ixx="0.001" ixy="0.0" ixz="0.0"
       iyy="0.001" iyz="0.0"
       izz="0.001" />
   </inertial>
   <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
     <geometry>
       <mesh filename="package://agimus_demos/meshes/ur10e_drillrod.stl"/>
     </geometry>
     <material name="Red">
       <color rgba="0.9 0.1 0.1 1.0"/>
     </material>
   </visual>
   <collision>
     <origin xyz="0 0 0" rpy="0 0 0" />
     <geometry>
       <mesh filename="package://agimus_demos/meshes/ur10e_drillrod.stl"/>
     </geometry>
   </collision>
  </link>

  <joint name="drill_tip_joint" type="fixed">
     <parent link="ur10e_tip_link" />
     <child link = "drill_tip_link" />
     <origin xyz="0.0 0.0 0.00" rpy="0.0 0.0 0.0" />
  </joint>

   <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

   <sensor_d435 parent="ur10e_d435_mount_link" name="camera">
     <origin xyz="0 0.115 0" rpy="0 -1.0472 -1.57079632679"/>
   </sensor_d435>

   <joint name="tool_joint" type="fixed">
     <parent link="ee_link"/>
     <child link="tool_link" />
     <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
   </joint>


</robot>
