<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <controlPeriod> 0.01 </controlPeriod>
      <!--robotNamespace>/</robotNamespace-->
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
    </plugin>
  </gazebo>

  <xacro:include filename="$(find agimus_demos)/urdf/_d435.gazebo.xacro"/>
  <xacro:gazebo_d435 camera_name="d435" reference_link="ref_camera_link"
                     topics_ns="camera"
                     depth_optical_frame="camera_depth_optical_frame"
                     color_optical_frame="camera_color_optical_frame"
                     infrared1_optical_frame="camera_infrared1_optical_frame"
                     infrared2_optical_frame="camera_infrared2_optical_frame">
  </xacro:gazebo_d435>
</robot>
