<?xml version="1.0"?>
<!-- This file is based on "package://ur_description/urdf/ur.xacro".
     This file is used on the real robot. For simulation, see
     "ur10_robot_sim.urdf.xacro"-->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">

   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>
   <xacro:include filename="$(find agimus_demos)/urdf/additional.xacro" />

   <!-- parameters -->
   <xacro:arg name="joint_limit_params" default=""/>
   <xacro:arg name="kinematics_params" default=""/>
   <xacro:arg name="physical_params" default=""/>
   <xacro:arg name="visual_params" default=""/>
   <!-- legal values:
         - hardware_interface/PositionJointInterface
         - hardware_interface/VelocityJointInterface
         - hardware_interface/EffortJointInterface
   -->
   <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>



   <!-- arm -->
   <xacro:ur_robot
     prefix=""
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"/>

   <!-- Up to this line, this file is a copy of
	"package://ur_description/urdf/ur.xacro".
	The following lines add additional elements
	- end effector,
	- RGBD sensor,
	- robot support.
   -->
   <link name="world" />


   <link name="collision_cylinder">
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <geometry>
	 <cylinder radius="0.045" length="0.115"/>
       </geometry>
     </collision>
   </link>

   <joint name="collision_cylinder_joint" type="fixed">
     <parent link="wrist_3_link" />
     <child link = "collision_cylinder" />
     <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 ${pi/2.0}" />
   </joint>

</robot>
