<launch>
  <!-- World setup -->
  <arg name="estimation" default="false"
    doc="set to true to start automatically the computer vision and state estimation nodes." />
  <arg name="debug_sot" default="false"
    doc="set to true to launch the SoT in gdb."/>

  <include file="$(find agimus_demos)/launch/tiago_insert_drill_world_setup.launch">
    <arg name="simulation" value="true" />
  </include>

  <!-- Initialization of robot root_joint pose as a ROS param
       value = "x y z X Y Z W" where Xi+Yj+Zk+W is a quaternion -->
  <param name="robot_initial_pose"
         value="0.1 -0.65 1.0192720229567027 0 0 0.7071067811865476 0.7071067811865476"/>

  <!-- SoT parameters -->
  <arg name="script_file" doc="Full path to the script which initialize the supervisor"
    default="$(find agimus_demos)/tiago/insert_drill/supervisor.py" />

  <include file="$(find sot_tiago_bringup)/launch/geometric_simu.launch" >
    <arg name="use_mobile_base" value="false"/>
    <arg name="end_effector" value="pal-hey5"/>
    <arg if="$(arg debug_sot)" name="sot-launch-prefix" value="xterm -e gdb --args" />
  </include>
  <param if="$(arg debug_sot)" name="/test/sot-launch-prefix" value="xterm -e gdb -ex run --args"/>
  <param unless="$(arg debug_sot)" name="/test/sot-launch-prefix" value="not-set"/>

  <!--This starts the HPP interface in namespace agimus/hpp-->
  <group ns="agimus/hpp">
    <node name="hpp_node" pkg="agimus_hpp" type="hpp_node.py"
      args="hpp-manipulation-server" respawn="true"
      output="screen" />
  </group>

  <!--This starts sot supervisor in namespace agimus/sot-->
  <include file="$(find agimus_sot)/launch/supervisor.launch" >
    <arg name="script_file" value="$(arg script_file)"/>
    <arg name="robot_prefix" value="tiago/"/>
    <arg name="simulate_torque_feedback" value="true"/>
    <arg name="required" value="false"/>
  </include>

  <include file="$(find agimus)/launch/path_execution.launch"/>

  <include if="$(arg estimation)" file="$(find agimus_demos)/launch/tiago_insert_drill_estimation.launch"/>
</launch>
