<launch>
  <!-- World setup -->
  <arg name="estimation" default="false"
    doc="set to true to start automatically the computer vision and state estimation nodes." />
  <arg name="debug_sot" default="false"
    doc="set to true to launch the SoT in gdb."/>

  <include file="$(find agimus_demos)/launch/tiago_insert_drill_world_setup.launch">
    <arg name="simulation" value="false" />
    <arg name="gazebo" value="false" />
  </include>

  <!-- Initialization of robot root_joint pose as a ROS param
       value = "x y z X Y Z W" where Xi+Yj+Zk+W is a quaternion -->
  <param name="robot_initial_pose"
         value="0 -0.9 0 0 0 0.7071067811865476 0.7071067811865476"/>

  <!-- SoT parameters -->
  <arg name="script_file" doc="Full path to the script which initialize the supervisor"
    default="$(find agimus_demos)/tiago/insert_drill/supervisor.py" />

  <include file="$(find roscontrol_sot_tiago)/launch/controller.launch" >
    <arg name="use_mobile_base" value="false"/>
    <arg name="end_effector" value="pal-hey5"/>
    <arg name="simulation" value="false"/>
  </include>

  <!--This starts sot supervisor in namespace agimus/sot-->
  <include file="$(find agimus-sot)/launch/supervisor.launch" >
    <arg name="script_file" value="$(arg script_file)"/>
    <arg name="robot_prefix" value="tiago/"/>
    <arg name="required" value="false"/>
    <arg name="simulate_torque_feedback" value="false"/>
  </include>

  <include if="$(arg estimation)" file="$(find agimus_demos)/launch/tiago_insert_drill_estimation.launch"/>
</launch>
