<launch>
  <arg name="simulation"/>

  <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
    args="0 0 0 0 0 0 1 world odom"
    />

  <group ns="skin">
    <param name="robot_description" textfile="$(find agimus_demos)/urdf/aircraft_skin_with_marker.urdf"/>
    <param name="tf_prefix" value="skin"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
      args="0 0 0 0 0 0 1 world skin/base_link"
      />
  </group>

  <group ns="driller">
    <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/driller_with_qr_drill.urdf"/>
    <param name="tf_prefix" value="driller"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  </group>

  <!-- Simulation -->
  <group if="$(arg simulation)" ns="simulation">
    <group ns="skin">
      <param name="robot_description" textfile="$(find agimus_demos)/urdf/aircraft_skin_with_marker.urdf"/>
      <param name="tf_prefix" value="skin_rviz"/>
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
      <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
        args="0 0 0 0 0 0 1 skin/base_link skin_rviz/base_link"
        />
    </group>

    <group ns="driller">
      <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/driller_with_qr_drill.urdf"/>
      <param name="tf_prefix" value="sim_driller"/>
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    </group>

    <!--node name="simulation" pkg="agimus-sot" type="simulation.py" args="_tf_prefix:=sim_" /-->
    <node name="simulation" pkg="tf2_ros" type="static_transform_publisher"
      args="0.037999999999100344 0.010000000000804704 0.21657500000013716 0.49999999999994843 0.50000000000250011 0.49999999999994832 -0.49999999999760331
      arm_7_link driller/base_link" />
    <node name="simulation_gui" pkg="rqt_gui" type="rqt_gui"
      args="--standalone rqt_agimus.simulation.Simulation --args
      --tf-editor skin/base_link skin_rviz/base_link
      --tf-editor driller/base_link sim_driller/base_link"
      />
  </group>

</launch>
