<launch>
  <arg name="publish_root" default="true"/>

  <include file="$(find roscontrol_sot_talos)/launch/display_sot.launch">
    <arg name="input_topic" value="/agimus/sot/state"/>
    <arg name="output_prefix" value="/sot"/>
    <arg name="publish_root" value="$(arg publish_root)"/>
  </include>
  <include file="$(find roscontrol_sot_talos)/launch/display_sot.launch">
    <arg name="input_topic" value="/agimus/sot/reference_state"/>
    <arg name="output_prefix" value="/sot_ref"/>
    <arg name="publish_root" value="$(arg publish_root)"/>
  </include>
  <node name="$(anon rviz)" type="rviz" pkg="rviz"/>
</launch>
